<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.huomoe.vo"/>
    </typeAliases>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">

                <!--连接属性-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:/scss?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="huomoe0"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--加载sql映射文件-->

<!--        <mapper resource="com/huomoe/mapper/UserMapper.xml"/>-->

        <!--Mapper代理方式-->
        <package name="com.huomoe.mapper"/>

    </mappers>


</configuration>
