<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.huomoe.mapper.CourseMapper">
    <insert id="add" useGeneratedKeys="true" keyColumn="id">
        insert into tb_course(id, name, size, teacher)
        values(#{id}, #{name}, #{size}, #{teacher});
    </insert>

    <delete id="deleteById">
        delete from tb_course
        where id = #{id};
    </delete>


    <select id="selectAll" resultType="com.huomoe.vo.Course">
        select * from tb_course;
    </select>

    <select id="selectById" resultType="com.huomoe.vo.Course">
        select * from tb_course
        where id = #{id};
    </select>

    <select id="selectByCondition" resultType="com.huomoe.vo.Course">
        select * from tb_course
        <where>
            <if test="name != null ">
                and name like #{name}
            </if>
            <if test="teacher != null ">
                and teacher like #{teacher}
            </if>
        </where>
    </select>


</mapper>
