<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.huomoe.mapper.UserMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into tb_user(id,name,password,role)
        values(#{id},#{name},#{password},#{role});
    </insert>

    <delete id="deleteById">
        delete from tb_user
        where id = #{id};
    </delete>

    <select id="selectAll" resultType="com.huomoe.vo.User">
        select * from tb_user;
    </select>


    <select id="checkAccount" resultType="com.huomoe.vo.User">
        select * from tb_user where id=#{id} and password=#{password};
    </select>

</mapper>
